<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <!-- <link rel="stylesheet" href="{{URL::to("/")}}/assets/css/user-research/research.css"> -->
</head>
<body>
  

<div id="begin" class="begin-alignment">
    <button id="begin-study-button" class="study-button">BEGIN</button>
</div>

<div id="home-content" class="home-content-alignment">
    <h1>Hello & Welcome</h1>
    <p>Thank you for being a part of our study on comparison of<br>Search vs. Browsing on the CSU Student Success Dashboards</p>

    <p id="prestudy-notif" style="display:none">Before you start the main study, we have a few questions to ask you as part of our prestudy questionnaire.</p>

    <button id="claim-user-id" class="study-button" style="padding: 10px 20px;">CLAIM YOUR USER ID</button>
    <p id="show-user-id"></p>

    <button id="begin-prestudy-button" class="study-button" style="display: none; padding: 10px 20px;">BEGIN PRESTUDY</button>
</div>

<div id="prestudy" class="prestudy-alignment" style="display:none">
    <div>
        <p id="prestudy-msg" style="margin-bottom: 20px;">
            Thank you for being a part of our study. Please answer the following questions as part of our prestudy.
          </p>
    </div>
    
    <div id="prestudy-chart" style="margin-bottom: 20px;"></div>
  
    <div class="prestudy-question-alignment" style="display: flex; flex-direction: column; margin-bottom: 20px;">
      <p id="prestudy-question" style="margin-bottom: 10px;margin: 0;"></p> 
    </div>
    <input type="text" id="inputText" placeholder="Enter your answer" style="margin-bottom: 20px;"/>

    <button id="prestudy-submit-button" class="study-button" style="margin-bottom: 20px;">SUBMIT</button>
</div>
  
<div id="search-turned-on" class="search-alignment">
    <p> The search bar in the top right of the screen has been enabled. You are encouraged to use it while available.</p>
    <button id="search-on-button" class="search-button" style="padding: 10px 20px;">CONTINUE</button>
</div>

<div id="search-turned-off"  class="search-alignment">
    <p> The search bar has been disabled. For the remainder of the questions please use the navigation menu to answer the questions.</p>
    <button id="search-off-button" class="search-button" style="padding: 10px 20px;">CONTINUE</button>
</div>

<div id="begin-main-study" class="begin-main-study-alignment">
    <button id="begin-main-study-button" class="study-button">BEGIN MAIN STUDY</button>
</div>


<div id="main-study" class="main-study">
        <p id="question" class="question"></p>

        <div id="csussd-website"></div>
    <div class="questionnaire">
        <div id="input">
            <div class="options-div">
                <input type="text" id="frq-answer" style="display: none;">

                <div id="options"></div>
              
                <div class="submit-button-style">
                    <button id="submit-button" class="study-button">SUBMIT</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="post-feedback" style="display:none" class="post-alignment">
    <h1>Study complete.</h1>
    <p>Please share any feedback about the CSU Student Success Dashboard search feature that you may have.</p>
    <input type="text" id="feedbackText" placeholder="Your feedback" style="margin-bottom: 20px;" />
    <button id="feedback-submit-button" class="study-button" style="margin-bottom: 20px;">SUBMIT</button>
</div>

<div id="post-study" style="display:none" class="post-alignment">
    <h1> Thank you for participating!</h1>
    <p id="bar_chart_navigation" class="study-complete" style="display: none;"> Please click<a href="http://127.0.0.1:5500/_03_BC/index.html" target="_blank"> here to navigate to Bar Chart Test</a> </p>
    <img id="congrats-cat" src="img/happy-cat.png"></img>
</div>


<script type="module" src="./js/index.js"></script>

</body>
</html>
